pkgbase = brother-dcpj552dw
	pkgdesc = Driver for the Brother DCP-J552DW wifi multifuncional printer
	pkgver = 3.0.0_1
	pkgrel = 3
	url = http://support.brother.com/g/b/downloadtop.aspx?c=gb&lang=en&prod=dcpj552dw_eu_as
	arch = i686
	arch = x86_64
	license = custom:brother
	depends = a2ps
	depends = cups
	source = brother-dcpj552dw.patch
	source = http://download.brother.com/welcome/dlf007009/dcpj552dwlpr-3.0.0-1.i386.rpm
	source = http://download.brother.com/welcome/dlf007011/dcpj552dwcupswrapper-3.0.0-1.i386.rpm
	md5sums = 1f20ac4b7f379e049bbcacb144977ea9
	md5sums = a0478abfe85516e7b02993f2ed041da1
	md5sums = 63842cf3efbf87a25f85f77b841b6dd7
	depends_x86_64 = lib32-glibc

pkgname = brother-dcpj552dw

